:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --header__top-color: rgb(5,5,5);
    --premium-color: rgb(255,190,60);
    --services-hover: #d19834;

    --header__top-height: 36px;
    --header__bot-height: 66px;
    --header-height: calc(var(--header__bot-height) + var(--header__top-height));
}

@font-face {
    font-family: "HeliosCond";
    src: url("../font/warhelioscondc-webfont.woff") format("woff");
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "HeliosCond", "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #1c1c1e;
    background-image: url(../img/background/sparks.png);
    background-size: contain;
    background-repeat: repeat-y;
    background-position: top center;
}

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 5px;
}

@keyframes menu-open {
    from {
        transform: translateY(calc(-410px - var(--header-height)));
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes menu-close {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(calc(-410px - var(--header-height)));
        opacity: 0;
    }
}