@media (min-width: 1024px) and (max-width: 1365px) {
    .header__top-container,
    .header__bot-container,
    .footer-container {
        padding: 0 28px;
    }

    .content {
        padding: 0 28px 50px;
    }

    .mod-categories {
        border-radius: 29px;
    }
}

@media (min-width: 740px) and (max-width: 1023px) {
    .mod-categories {
        border-radius: 42px;
    }

    .close-input-table {
        display: block;
    }

    .header__bot-container {
        display: block;
        position: relative;
    }

    .bot-nav-list {
        justify-content: flex-start;
    }

    .bot-input {
        position: absolute;
        left: calc(50% - 250px);
        width: 500px;
        height: 56px;
        padding: 0 20px;
        background-color: rgba(39, 39, 41, 0.95);
        display: flex;
        align-items: center;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        transform: translateY(-56px);
        display: none;
        opacity: 0;
        animation: FadeIn .2s linear forwards;
        border-top: 1px solid #3C3C3F;
    }

    .bot-input--active {
        display: flex;
        opacity: 1;
        transform: translateY(0);
    }

    .bot-input-search {
        height: 32px;
        margin-right: 12px;
    }

    .bot-input-btn {
        position: absolute;
        right: 82px;
        top: 18px;
    }

    .open-input-tablet {
        display: block;
        opacity: 1;
        transition: opacity .2s linear;
    }

    .open-input-tablet--active {
        opacity: 0;
    }


    /* footer */

    
    /* Game list*/
    .games-list-container-with-arrow {
        width: 660px;
    }

    .games-arrow-nav.to-left {
        left: -36px;
    }
    
    .games-arrow-nav.to-right {
        right: -36px;
    }

    /* Services list */
    .services-list-container-with-arrow {
        width: 586px;
    }
}

/* Mobile */

@media (max-width: 739px) {
    .header__top-container {
        padding: 0 16px;
    }

    .top-nav-mobile-hide {
        display: none;
    }

    /* .mobile-user-log {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .mobile-user-log-icon {
        color: #E0DDCE;
        font-size: 1.8rem;
        padding: 4px 8px;
        transition: color .2s linear;
    }

    .mobile-user-log.mobile-user-log--active .mobile-user-log-icon {
        color: #f9b723;
    }

    .mobile-user-log.mobile-user-log--active .log-type {
        display: block;
    } */
    
    .log-type {
        position: absolute;
        top: 100%;
        right: 0;
        height: 100px;
        width: 240px;
        background-color: #171717;
        z-index: 1;
        display: none;
    }

    .sign-in {
        margin: 0;
        color: #E0DDCE;
        font-size: 1.5rem;
        width: 100%;
        height: 40px;
        line-height: 4rem;
        padding: 0 12px;
        border-top: 1px solid #313335;
    }
    .sign-in:nth-child(2) {
        border-bottom: 1px solid #313335;
    }

    .close-log-type {
        font-size: 1.4rem;
        padding: 4px 12px;
        color: #E0DDCE;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
    }  

    /* hide header bottom */

    .header__bot {
        display: none;
    }

    /* Content */

    .content {
        margin-top: -56px !important;
    }

    /* Menu scroll */
    .games-list-container-with-arrow {
        width: 660px;
    }
    
    .services-list-container-with-arrow {
        width: 586px;
    }

    /* Menu pc hiden */

    .games-menu {
        display: none;
    }

    .services-menu {
        display: none;
    }

    /* Games menu */

    .games-menu-mobile {
        display: block;
        position: absolute;
        z-index: 10;
        top: 36px;
        width: 100%;
        transform: translateY(-520px);
        opacity: 0;
        transition: transform .2s linear, opacity .2s linear;
    }

    .games-menu-mobile.is--open {
        transform: translateY(0);
        opacity: 1;
    }

    .games-mobile-head {
        height: 50px;
        width: 100%;
        margin: 0;
        line-height: 5rem;
        background-color: #171717;
        color: rgba(255, 255, 255, 0.6);
        font-size: 1.6rem;
        font-weight: normal;
        padding: 0 16px;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    .games-mobile-list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .games-mobile-item {
        height: 50px;
        width: 100%;
        line-height: 5rem;
        background-color: #171717;
        color: rgba(255, 255, 255, 0.6);
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        font-size: 1.4rem;
        overflow: hidden;
        transition: height .2s ease-in-out;
    }

    .games-mobile-item.games-mobile-item--active {
        position: relative;
        height: 434px;
    }

    .games-mobile-item.games-mobile-item--active::after {
        display: block;
        content: "";
        position: absolute;
        top: 50px;
        width: 100%;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.1);
    }

    .games-mobile-item-container {
        display: flex;
        align-items: center;
        padding: 0 12px;
        position: relative;
    }

    .games-mobile-item.games-mobile-item--active .games-mobile-item-bg {
        display: block;
    }

    .games-mobile-item-bg {
        display: none;
        position: absolute;
        top: 0;
        width: 100%;
        height: 300px;
        margin-left: -12px;
        background-image: url(../img/game-background/wot.jpg);
        background-repeat: no-repeat;
        background-size: auto 300px;
        background-position: center left -400px;
    }

    .games-mobile-item-bg::before {
        display: block;
        content: "";
        position: absolute;
        top: 0;
        height: 300px;
        width: 100%;
        background-image: linear-gradient(transparent, transparent, transparent, #000);
        background-repeat: no-repeat;
    }


    .games-mobile-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 12px;
        z-index: 1;
    }

    .games-mobile-name {
        margin: 0;
        font-size: 1.6rem;
        z-index: 1;
    }

    .games-mobile-arrow {
        margin-left: auto;
        font-size: 1rem;
        z-index: 1;
    }

    .games-mobile-content-container {
        height: 384px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }

    .games-mobile-bg {
        flex: 1;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .games-mobile-home-link {
        display: flex;
        justify-content: center;
        width: 200px;
    }

    .games-mobile-main-content {
        flex: 1;
        background-color: #000;
        display: flex;
        padding-bottom: 16px;
    }

    .games-mobile-desc {
        flex: 5;
        z-index: 1;
        padding-left: 16px;
    }

    .games-mobile-content-heading {
        margin: 0 0 12px;
        font-size: 1.8rem;
        line-height: 2rem;
        font-weight: normal;
    }

    .games-mobile-content-desc {
        margin: 0;
        font-size: 1.4rem;
        line-height: 2.4rem;
        color: var(--white-color);
    }

    .games-mobile-desc-platform {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        margin: 12px 0 0;
        padding: 0;
    }

    .games-mobile-platform-item {
        color: var(--white-color);
        margin-right: 16px;
        font-size: 1.2rem;
        line-height: 2.6rem;
    }

    .games-mobile-platform-icon {
        margin-right: 4px;
    }

    .games-mobile-link {
        flex: 4;
        z-index: 1;
        padding-left: 12px;
        margin-left: 24px;
    }

    .games-mobile-link-list {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        list-style: disc;
        color: var(--white-color);
        font-size: 1.2rem;
    }

    .games-mobile-link-item {
        line-height: 2.4rem;
    }

    .games-mobile-link-link {
        text-decoration: none;
        font-size: 1.4rem;
        color: var(--white-color);
    }

    .games-mobile-close-btn {
        height: 32px;
        width: 100%;
        background-color: #171717;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .games-mobile-close-icon {
        font-size: 1.2rem;
        color: rgba(255, 255, 255, 0.6);
        padding: 8px 16px;
        transform: rotate(180deg);
    }

    .services.games-mobile-item--active .services.games-mobile-name {
        color: var(--services-hover);
    }

    /* Content */

    .content {
        padding: 0 20px 50px;
    }

    /* Menu nav mobile */

    .nav-mobile {
        z-index: 1;
        position: fixed;
        top: 36px;
        transition: top .1s linear;
        display: block;
        width: 400px;
        background-color: rgba(39, 39, 41, 0.98);
        transform: translateX(-400px);
        transition: all .2s linear;
        border-radius: 4px;
    }

    .nav-mobile.nav-mobile--active {
        transform: translateX(0);
    }

    .nav-open-bar {
        /* background-color: rgba(39, 39, 41, 0.95); */
        background-color: var(--header__top-color);
        width: 38px;
        height: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba(60, 60, 63, 0.6);
        border-radius: 50%;
        position: absolute;
        right: -38px;
        top: 0;
    }

    .nav-open-icon {
        font-size: 2rem;
        color: #F9B723;
        transition: transform .2s linear;
    }

    .nav-open-bar--active .nav-open-icon {
        transform: rotate(180deg);
    }

    .nav-mobile-container {
        display: flex;
        flex-direction: column;
    }

    .bot-nav-list {
        padding: 0 20px;
        flex-direction: column;
        align-items: flex-start;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    .bot-nav-item {
        margin: 0;
    }

    .bot-nav-item:first-child {
        display: none
    }

    .bot-nav-link {
        height: 48px;
    }

    .search-mobile-container {
        padding: 16px;
        display: flex;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }


    .search-mobile-head {
        font-size: 1.8rem;
        color: var(--white-color);
        font-weight: normal;
        
    }

    .search-mobile-input {
        padding: 0 16px;
        height: 36px;
        border: none;
        outline: none;
        flex: 1;
        border-radius: 18px;
        background-color: rgba(5, 5, 5, 0.4);
        color: var(--white-color);
        font-size: 1.2rem;
    }

    .search-mobile-input::placeholder {
        color: var(--white-color);
        font-size: 1.2rem;
        font-weight: lighter;
    }

    .search-mobile-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.8rem;
        width: 42px;
        height: 32px;
        background-color: #F9B723;
        margin-left: 12px;
        border-radius: 8px;
    }

    .search-mobile-btn:hover {
        background-color: #f8c964;
        cursor: pointer;
    }

    .mobile-log {
        padding:  0 20px;
        margin: 16px 0 12px 0;
        list-style: none;
        display: flex;
    }
    .mobile-log-item {

    }

    .mobile-log-link {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.8);
        font-size: 1.4rem;
    }

    .or-or {
        color: var(--white-color);
        margin: 0 8px;
        font-size: 1.4rem;
    }

}

@media screen and (max-width: 1023px) {
    .footer {
        height: 200px;
    }

    .footer-container {
        justify-content: unset;
    }

    .footer-nav-list {
        padding-top: 24px;
        align-items:flex-start;
        flex-direction: column;
        height: 200px;
    }

    .footer-nav-item {
        margin-right: 0;
    }

    .footer-nav-item:first-child {
        margin-bottom: 16px;
    }

    .footer-lang {
        padding-top: 24px;
        flex-direction: column;
        font-size: 1.4rem;
        line-height: 2.9rem;
        font-weight: bold;
        margin-left: 32px;
    }

    .footer-lang-choose {
        margin-top: 16px;
    }

    .footer-lang-choose--active .footer-lang-current{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .footer-lang-list {
        top: 100%;
        bottom: unset;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .footer-lang-arrow {
        transform: rotate(180deg);
    }

    .footer-lang-choose--active .footer-lang-arrow {
        transform: rotate(0);
    }

}