
/* Header */
.header {
    height: var(--header-height);
}

/* Header__top */
.header__top {
    height: var(--header__top-height);
    background-color: var(--header__top-color);
    position: relative;
}

.header__top-container {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
}

/* Nav left */

.top-nav-list-left {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.top-nav-item-left {
    margin-right: 20px;
    position: relative;
}

.top-nav-item-left:first-child {
    margin-right: 16px;
}

.top-nav-link-left {
    height: var(--header__top-height);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.5rem;
    opacity: 0.7;
}

.top-nav-link-left:hover {
    opacity: 1;
}

.top-nav-link-left--premium {
    color: var(--premium-color);
}

.top-nav-logo-left {
    width: 19px;
    height: 19px;
}

.top-nav-arrow-down {
    font-size: 0.8rem;
    margin-left: 4px;
    transition: transform 0.2s linear;
}

/* Game menu list */

.games-menu {
    z-index: 1;
    position: absolute;
    left: 0;
    top: var(--header__top-height);
    height: 430px;
    width: 100%;
    background: url(../img/game-background/wot.jpg) no-repeat center;
    transform: translateY(calc(-410px - var(--header-height)));
    opacity: 0;
    transition: background-image .2s ease-in-out, transform .3s linear, opacity 0.3s ease-in;
}


.menu--active .top-nav-link-left{
    opacity: 1;
}

.menu--active .top-nav-arrow-down {  
    transform: rotateX(180deg);
}

.games-menu-choose {
    height: 146px;
    background-color: rgba(34,34,36,0.6);
}

.games-list-container-with-arrow {
    width: 926px;
    margin: auto;
    position: relative;
}

.games-arrow-nav{
    position: absolute;
    top: 30px;
    width: 42px;
    height: 42px;
    padding: 9px;
    display: none;
}

.games-arrow-nav:hover {
    cursor: pointer;
}

.games-arrow-nav--active {
    display: block;
}

.games-arrow-nav.to-left {
    left: -48px;
}

.games-arrow-nav.to-right {
    right: -48px;
}

.games-list-container {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    transition: all .2s linear;
}

.games-arrow-scoll {
    position: absolute;
    left: -10px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.games-arrow-scoll:hover {
    cursor: pointer;
}

.games-list-container::-webkit-scrollbar {
    display: none;
}

.games-list {
    margin: 0;
    padding: 20px 0 0;
    list-style: none;
    display: flex;
    position: relative;
    z-index: 1;
}

.games-menu-choose::after {
    display: block;
    content: "";
    position: absolute;
    top: 50px;
    width: 100%;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0,0,0,0.0), #696969, rgba(0,0,0,0.0))
}

.games-item {
    width: 114px;
    text-align: center;
    cursor: pointer;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.games-item-icon {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-icon-fill {
    fill: #a6a6a7;
    transition: fill .1s linear;
}

.games-name {
    height: 36px;
    font-size: 1.5rem;
    margin: 6px 0 0;
    color: #A6A6A7;
    font-weight: 100;
    transition: color .1s linear;
}

.games-item-img.wot {
    width: 24px;
}

.games-item-img.wotc {
    width: 24px;
}

.games-item-img.wow,.games-item-img.wowb {
    width: 25px;
}

.games-item-img.wowl {
    width: 30px;
}

.games-item-img.wotb {
    width: 24px;
}

.games-item-img.wowp {
    width: 57px;
}


/* Games content */

.games-content {
    height: 284px;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
}

.game-home {
    width: 410px;
    height: 100%;
    display: flex;
    justify-content: center;
}

.game-home-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-desc {
    max-width: 338px;
    height: 100%;
    padding: 52px 20px 0;
    background-color: rgba(0, 0, 0, 0.2);
}

.game-desc-name {
    margin: 0;
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: #A6A6A7;
    font-weight: 100;
}

.game-desc-child {
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: #ddd;
}

.game-desc-platform {
    padding: 0;
    margin: 16px 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.game-platform-item {
    color: var(--white-color);
    font-size: 1.4rem;
    margin-right: 16px;
    margin-bottom: 4px;
    display: flex;
    white-space: nowrap;
}

.game-platform-icon {
    font-size: 1.4rem;
    margin-right: 4px;
}

.game-other-link {
    width: 276px;
    height: 100%;
    padding: 52px 30px 0;
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;
}

.game-other-link::after {
    display: block;
    content: "";
    position: absolute;
    left: 100%;
    top: 0;
    height: 100%;
    width: calc((100vw - 16px - 1024px) / 2);
    background-color: rgba(0, 0, 0, 0.3);
}

.game-link-list {
    padding: 0;
    margin: 20px 0 0;
}

.game-link-item {
    color: #ddd;
    margin-bottom: 9px;
}

.game-item-link {
    text-decoration: none;
    color: #ddd;
    font-size: 1.5rem;
}

.game-item-link:hover {
    text-decoration: underline;
}

/* Services menu */

.services-menu {
    z-index: 1;
    position: absolute;
    left: 0;
    top: var(--header__top-height);
    height: 430px;
    width: 100%;
    background: url(../img/services-background/premiumshop.jpg) no-repeat center;
    transform: translateY(calc(-410px - var(--header-height)));
    opacity: 0;
    transition: background-image .2s ease-in-out, transform .3s ease-in-out, opacity 0.3s ease-in;
}

.is--open {
    transform: translateY(0);
    opacity: 1;
}

.services-menu-choose {
    height: 146px;
    background-color: rgba(34,34,36,0.6);
}

.services-list-container-with-arrow {
    width: 926px;
    margin: 0 auto;
    position: relative;
}
.services-list-container {
    width: 100%;
    overflow-x: scroll;
    display: flex;
}

.services-list-container::-webkit-scrollbar {
    display: none;
}

.services-arrow-nav {
    position: absolute;
    width: 42px;
    height: 42px;
    padding: 8px;
    display: none;
}

.services-arrow-nav.services-arrow-nav--active {
    display: block;
}

.services-arrow-nav:hover {
    cursor: pointer;
}

.services-arrow-nav.to-left {
    left: -48px;
    top: 30px;
}

.services-arrow-nav.to-right {
    right: -48px;
    top: 30px;
}

.services-list {
    margin: 0;
    padding: 20px 0 0;
    list-style: none;
    display: flex;
    position: relative;
    z-index: 1;
}

.services-menu-choose::after {
    display: block;
    content: "";
    position: absolute;
    z-index: -1;
    top: 50px;
    width: 100%;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0,0,0,0.0), #696969, rgba(0,0,0,0.0))
}

.services-item {
    width: 114px;
    text-align: center;
    cursor: pointer;
    margin: 0 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.services--active .services-icon-fill {
    fill: var(--services-hover);
}

.services--active .services-name {
    color: var(--services-hover);
}

.services-item-icon {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-icon-fill {
    fill: #a6a6a7;
}

.services-item:hover .services-icon-fill{
    fill: var(--services-hover);
}

.services-item:hover .services-name {
    color: var(--services-hover);
}

.services-name {
    height: 36px;
    font-size: 1.5rem;
    margin: 6px 0 0;
    color: #A6A6A7;
    font-weight: 100;
}

/* Service content */

.services-content {
    height: 284px;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
}

.services-home {
    width: 410px;
    height: 100%;
    display: flex;
    justify-content: center;
}

.services-home-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-desc {
    max-width: 338px;
    height: 100%;
    padding: 52px 20px 0;
    background-color: rgba(0, 0, 0, 0.2);
}

.services-desc-name {
    margin: 0;
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: var(--services-hover);
    font-weight: 100;
}

.services-desc-child {
    font-size: 1.6rem;
    line-height: 2rem;
    color: #ddd;
}

.services-desc-platform {
    padding: 0;
    margin: 16px 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.services-platform-item {
    color: var(--white-color);
    font-size: 1.2rem;
    margin-right: 16px;
    margin-bottom: 4px;
    display: flex;
    white-space: nowrap;
}

.services-platform-icon {
    font-size: 1.4rem;
    margin-right: 4px;
}

.services-other-link {
    width: 276px;
    height: 100%;
    padding: 52px 30px 0;
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;
}

.services-link-list {
    padding: 0;
    margin: 20px 0 0;
}

.services-link-item {
    color: #ddd;
    margin-bottom: 9px;
}

.services-item-link {
    text-decoration: none;
    color: #ddd;
    font-size: 1.5rem;
}

.services-item-link:hover {
    text-decoration: underline;
}

/* Nav right */

.top-nav-list-right {
    list-style: none;
    margin: 0;
    display: flex;
}

.top-nav-item-right {
    height: var(--header__top-height);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-color);
    font-size: 1.5rem;
}

.top-nav-item-right:nth-child(2) {
    margin: 0 4px;
    opacity: 0.5;
}

.top-nav-link-right {
    display: block;
    height: 100%;
    line-height: var(--header__top-height);
    text-decoration: none;
    color: var(--white-color);
    opacity: 0.7;
}

.top-nav-link-right:hover {
    opacity: 1;
}

/* Header bot */

.header__bot {
    height: var(--header__bot-height);
    background-color: rgba(39, 39, 41, 0.95);
    position: relative;
}

.header__bot::after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #3C3C3F;
}

.header__bot-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.bot-nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.bot-nav-item {
    margin-right: 42px;
}

.bot-nav-link {
    text-decoration: none;
    color: #e0ddce;
    font-size: 1.5rem;
    font-weight: bold;
    height: var(--header__bot-height);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.bot-nav-link::after {
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    height: 3px;
    width: 100%;
    background-color: #E4DEB9;
    opacity: 0;
    transition: opacity 0.2s linear;
}

.bot-nav-item:first-child .bot-nav-link::after {
    width: 0;
}

.bot-nav-link:hover::after {
    opacity: 1;
}

.bot-nav-item--active .bot-nav-link::after{
    opacity: 1;
    background-color: #f9b723;
    box-shadow: 0 0 20px 1px rgba(255, 84, 0, 0.8);
}

.bot-wg-icon {
    width: 16px;
}

.bot-input {
    position: relative;
    z-index: 0;
    width: 300px;
    height: 32px;
}

.bot-input-search {
    width: 100%;
    height: 100%;
    background-color: #19191b;
    color: #858271;
    border: none;
    outline: none;
    border-radius: 16px;
    padding: 0 20px;
    font-size: 1.3rem;
}

.bot-input:focus-within .bot-input-search {
    color: #19191b;
    background-color: #F9B723;
}

.bot-input:focus-within .bot-input-search::placeholder {
    color: #19191b;
}

.bot-input:focus-within .bot-input-btn {
    color: #19191b;
}


.bot-input-btn {
    color: #F9B723;
    font-size: 1.4rem;
    position: absolute;
    right: 16px;
    top: 5px;
    cursor: pointer;
    padding: 4px;
}

.close-input-table {
    display: none;
    font-size: 1.8rem;
    color: #F9B723;
    margin-left: auto;
    padding: 8px 12px;
}

.open-input-tablet {
    display: none;
    color: #F9B723;
    font-size: 2.0rem;
    margin: auto;
    padding: 12px;
}

.open-input-tablet:hover {
    cursor: pointer;
}

.close-input-table:hover {
    cursor: pointer;
}

/* Content */

.content {
    padding: 0 40px 50px;
    color: #e9e3be;
}

.big-logo-link {
    display: flex;
    justify-content: center;
    width: 300px;
    margin: 26px auto 10px;
    text-decoration: none;
}

.content-logo-big {

}

/* Mod Description */

.mod-desc {
    padding: 0 30px;
    font-size: 1.4rem;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.mod-desc-lang {
    font-size: 1.2rem;
    line-height: 2.2rem;
    font-weight: normal;
    width: 146px;
    height: 22px;
    background-color: #e9e3be;
    color: #050505;
    border-radius: 11px;
    padding: 0 12px;
    margin-left: 12px;
    position: relative;
    cursor: pointer;
}

.mod-desc-arrow {
    font-size: 1rem;
    position: absolute;
    right: 12px;
    top: 6px;
    transition: transform .2s linear;
}

.mod-desc-list {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #e9e3be;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    overflow: hidden;
    z-index: 1;
    display: none;
}

.mod-desc-lang--active .mod-desc-list {
    display: block;
}

.mod-desc-lang--active {
    border-top-right-radius: 11px;
    border-top-left-radius: 11px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.mod-desc-lang--active .mod-desc-arrow {
    transform: rotateX(180deg);
}

.mod-desc-item {
    height: 22px;
    padding: 3px;
    display: flex;
    align-items: center;
}

.mod-lang-flag {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 8px;
}

/* Mod categories */

.mod-categories {
    font-size: 1.4rem;
    font-weight: bold;
    height: 52px;
    background-color: #050505;
    display: flex;
    align-items: center;
    padding: 0 30px;
    margin-top: 20px;
    border-radius: 36px;
}

.mod-categories-container {
    overflow-x: scroll;
    height: 100%;
}

.mod-categories-container::-webkit-scrollbar {
    display: none;
}

.mod-categories-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 100%;
    flex-wrap: nowrap;
}

.mod-categories-item {
    margin: 0px 6px;
    flex: 0 0 auto;
}

.mod-categories-item--active .mod-categories-link{
    background-color: #F9B723;
    color: #0e0e0f;
}

.mod-categories-item:hover .mod-categories-link {
    background-color: #353535;
}

.mod-categories-item.mod-categories-item--active:hover .mod-categories-link{
    background-color: #F9B723;
    color: #0e0e0f;
}

.mod-categories-link {
    text-decoration: none;
    color: #858271;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 16px;
    background-color: #272729;
    border-radius: 10px;
    position: relative;
    transition: background-color .2s linear;
}

.mod-categories-link::after {
    position: absolute;
    display: block;
    content: "";
    left: 5px;
    top: 7px;
    width: 6px;
    height: 6px;
    background-color: #050505;
    border-radius: 50%;
}
.mod-categories-link::before {
    position: absolute;
    display: block;
    content: "";
    right: 5px;
    top: 7px;
    width: 6px;
    height: 6px;
    background-color: #050505;
    border-radius: 50%;
}


/* Mod container */

.mods-container {

}

.mods-by-status {

}

.mods-status-name {
    font-size: 1.8rem;
    margin: 50px 0 0;
}

.mods-list {
    margin-top: 42px;
}

.mods-item {
    display: flex;
    flex-direction: column;
    width: 302px;
    height: 340px;
    position: relative;
    border-radius: 10px;
    margin-bottom: 56px;
    z-index: 0;
}

.mods-item:hover {
    cursor: pointer;
}

.mods-item:hover .mods-item-bg {
    opacity: 0.4;
}

.mods-item:hover .mods-download-btn {
    opacity: 1;
}

.mods-item:hover .mods-item-infor{
    transform: translateY(-60px);
}

.mods-item::after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), #050505);
}

.mods-item-bg {
    height: 170px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    transition: opacity .15s linear;
}

/* Mod content */

.mods-item-content {
    height: 170px;
    background-color: #050505;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.mods-item-name {
    margin: 4px 0 4px;
    font-size: 2rem;
}

.mods-item-infor {
    font-size: 1.3rem;
    z-index: 1;
    transition: transform .15s linear;
}

.mods-version {
    display: flex;
    align-items: center;
    color: #97947f;
}

.mods-item-version {
    margin-right: 8px;
}

.mods-version-highlight {
    color: #e9e3be;
}

.mods-item-author {

}

.mods-author-name {
    color: #fab81b;
}

/* Button download */

.mods-download-btn {
    height: 32px;
    width: 190px;
    border-radius: 16px;
    border: none;
    outline: none;
    font-size: 1.4rem;
    font-weight: bolder;
    background-color: #f9b723;
    margin-top: 8px;
    transition: background-color .1s linear, opacity .15s linear;
    opacity: 0;
}

.mods-download-btn:hover {
    background-color: #ffcb5c;
    cursor: pointer;
}

/* Mods rating */
.mods-rating {
    display: block;
    content: "";
    position: absolute;
    right: -16px;
    top: -16px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #170303;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px 0 rgba(255, 84, 0, 0.5);
    overflow: hidden;
}

.rating-points {
    font-size: 2.4rem;
    line-height: 2.8rem;
    color: #fab81b;
    font-weight: bolder;
    margin: 0;
    text-shadow: 0 0 20px rgba(255, 84, 0, 0.8);
}

.rating-bg {
    width: 152px;
    position: absolute;
    margin-top: 15px;
    margin-right: 1px;
}

.more-mods-btn {
    width: 228px;
    height: 50px;
    font-size: 1.4rem;
    font-weight: bolder;
    border-radius: 25px;
    background-color: transparent;
    outline: none;
    border: 1px solid rgba(228, 222, 185, 0.2);
    color: #e4deb9;
    display: block;
    margin: -8px auto 0;
    transition: background-color .2s linear, color .2s linear;
}

.more-mods-btn:hover {
    background-color: #e4deb9;
    color: #000;
    cursor: pointer;
}

.footer {
    height: 66px;
    background-color: #050505;
}

.footer-container {
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    height: 66px;
}

.footer-nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 100%;
}

.footer-nav-item {
    margin-right: 28px;
    position: relative;
}

.footer-nav-link {
    text-decoration: none;
    color: #858271;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color .2s linear;
    padding: 4px 0;
}

.footer-nav-link:hover {
    color: #e9e3be;
}

.footer-nav-item:first-child .footer-nav-link {
    font-size: 1.4rem;
    font-weight: bolder;
    color: #e9e3be;
}

.footer-wg-icon {
    margin-right: 10px;
}

.footer-link-external {
    font-size: 1rem;
    margin-left: 6px;
}

.footer-lang {
    color: #e9e3be;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}

.footer-lang-choose {
    margin-left: 12px;
}

.footer-lang-current {
    display: flex;
    align-items: center;
    width: 128px;
    height: 21px;
    border-radius: 10px;
    background-color: #272729;
    font-size: 1.1rem;
    padding: 0 12px 0 4px;
    cursor: pointer;
    position: relative;
}

.footer-current-lang-flag {
    width: 15px;
    height: 15px;
    margin-right: 8px;
}

.footer-lang-arrow {
    font-size: 1rem;
    margin-left: auto;
    transition: transform .2s linear;
}

.footer-lang-list {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 128px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    overflow: hidden;
    display: none;
}

.footer-lang-item {
    background-color: #272729;
    height: 21px;
    padding: 0 4px;
    display: flex;
    align-items: center;
}

.footer-lang-choose--active .footer-lang-current{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.footer-lang-choose--active .footer-lang-list {
    display: block;
}

.footer-lang-choose--active .footer-lang-arrow {
    transform: rotate(180deg);
}

.mobile-user-log {
    display: none;
}